<section class="add-student-view">
    <div class="form-card">
        <button id="goBackBtn" class="go-back-btn" title="Go back">
            <img src="../assets/icons/back_arrow.png" alt="Back" />
        </button>
        <h1>Add New Book</h1>
        <div class="avatar-placeholder">
            <img src="../assets/img/new-book.png" alt="Book Icon" />
        </div>
        <h2>Register New Book</h2>
        <form id="addBookForm">
            <label>Title</label>
            <input type="text" id="title" name="title" required />
            <label>Author</label>
            <input type="text" id="author" name="author" required />
            <label>Date of Entry</label>
            <input type="date" id="dateOfEntry" name="dateOfEntry" required />
            <button type="submit">Save</button>
        </form>
    </div>
</section>