body {
    justify-content: center;
    display: flex;
    margin: 0;
}

.container {
    width: 800px;
    background-color: rgb(250, 124, 124);
}

.head {
    background-color: #fefeff ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
}

.title h1 {
    font-size: 40px;
    color: #454a4e;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.title h5 {
    font-size: 15px;
    font-weight: 600;
    color: #454a4e;
    text-align: center;
    margin: 3px;
    letter-spacing: 2px;
}

.complete_container {
    display: flex;
    background-color: aqua;
}

.left_container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4e9e8;
    color: #454a4e;
    letter-spacing: 5px;
    padding: 20px;
    margin: 20px 10px;
    font-weight: bold;
}

.telephone {
    display: flex;
    letter-spacing: 0px;
    margin-bottom: 7px;
    margin-top: 20px;
}

.tel_img {
    display: flex;
    width: 20px;
    align-items: center;
    margin-right: 15px;

    & img {
        width: 100%;
    }
}

.mail {
    display: flex;
    letter-spacing: 0px;
    margin-bottom: 7px;
}

.mail_img {
    display: flex;
    width: 20px;
    align-items: center;
    margin-right: 15px;

    & img {
        width: 100%;
    }
}

.location {
    display: flex;
    letter-spacing: 0px;
    margin-bottom: 40px;
}

.location_img {
    display: flex;
    width: 20px;
    align-items: center;
    margin-right: 15px;

    & img {
        width: 100%;
    }
}

.left_container h5 {
    margin: 0px;
    align-self: center;
    font-weight: lighter;
    font-size: 13px;
}

.education {
    letter-spacing: 0px;
    margin-bottom: 7px;
    margin-top: 20px;
}

.title_ed {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}

.uni_ed {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 5px;
}

.course_ed {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 40px;
}

.abilities h5 {
    display: block;
    font-size: 13px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    
}

/* Selecciona el último h5 que sea hijo directo dentro de .abilities */
.abilities h5:last-child {
    margin-bottom: 40px;
}

.language {
    letter-spacing: 0px;
    margin-bottom: 7px;
    margin-top: 20px;
}

.especifi_spanish {
    display: flex;
    font-size: 13px;
    gap: 5px; /* Genera un espacio entre los dos textos */
    margin-bottom: 20px;
}

.description_len {
    font-weight: normal;
}

.especifi_english {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: 10px;
}

.content_title {    
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    margin-bottom: 10px;
}

.category {
    font-weight: normal;
}

.level  {
    font-weight: normal;
}
