/* ------------------ This part of the code sets up the main structure of the page ---------------- */
/* This part is basic configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    /* width: 100vw; */
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background layer with opacity only on the image */
.background-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(30%); /* Opacity */
    z-index: -1;
}

/* Main container with styling details like color, size, and layout */
.container {
    align-items: center;
    background-color: white;
    padding: 3rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    width: 50rem;
    height: 30rem;
}

.oganize-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.oganize-content img {
    width: 45%;
}

.text-right {
    margin-left: 2rem;
}

/* Title */
h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: justify;
}

p {
    text-align: justify;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

/* Buttons section: I have two buttons with styles to make them look nice and consistent */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap:30px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 45px;
    padding: 0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}


.button-console {
    background-color: #830d5e; 
}

.button-console:hover {
    background-color: #5c0a42;
}

